[2011-11-22 18:27] jaylevitt opened #1 "Hangs on 'Finding TODOs'"
The status line keeps throbbing but it never comes back.  No output in the console; where should I look for errors? I'm on Mac OS X 10.6.8.

[2011-11-22 19:33] robcowie commented on #1
Er, yeah. I've conveniently ignored error logging so far. Few questions;
- How many files do you have open or in your project?
- Does the plugin get as far as opening a new (blank) doc?

I'll see what I can come up with.

[2011-11-22 20:43] jaylevitt commented on #1
1 open file, 1805 in project, 4319 files in pwd. Might be some binaries in there that are catching it; it doesn't look like it skips binary files, at least not using ST's binary list.  Maybe pss 0.34 with its --textonly would help?

[2011-11-23 00:01] robcowie commented on #1
I can run it successfully with a large repo open in the sidebar (many nested dirs, ~10k files, including small binaries). It takes about 2 minutes and lists about 3000 todo items.

However, I'll spend some time tomorrow (it's late here) to do the following:
- update the bundled version of pas to 0.34 and default to `--textonly`
- add a file count in the status bar as it scans for better feedback
-

[2011-11-23 00:12] jaylevitt commented on #1
Thanks - watching how you do that should give me enough Python-fu to narrow down the problem some more..

[2011-11-23 12:30] robcowie commented on #1
There is a horribly inefficient 'hack' to account for the fact that pss returns the entire matching line, and does not support regexp groups. Usually, reporting the entire line is desired, but in this case we only want the matching TODO comment. A custom formatter runs the pattern on the matching line a second time to extract the comment.

I'll see if I can get a pull request sorted to add support

[2011-11-23 14:00] jaylevitt commented on #1
Oof.  Welll.. do you really need the full power of pss for this?  Maybe launching ack in a subprocess isn't so horrible after all...

[2011-11-23 14:57] robcowie commented on #1
Same problem regardless of how the files are searched; There are several patterns, and the output should be grouped by 'comment type' (i.e. todo, fixme etc.). If the multiple patterns are joined to form one ('TODO|FIXME|CHANGED') then only one pass will be required, but the results will not be grouped.

This _is_ probably a better solution; grep the files once, sort and group the result strings in

[2011-11-23 15:05] robcowie commented on #1
I've pushed some changes;
- pss 0.34, with `--textonly==True` default
- regex is no longer eval'd on every matched line
- scanned file count is updated in the status bar
- logging added. Output is suppressed by default. Turn it on by setting `DEBUG = True` in todo.py

[2011-11-23 16:05] robcowie opened #2 "Duplicates in results"
Results from open files that are _also_ in sidebar folders will appear twice.

Search open files only if they are not in open folders.

[2011-11-23 21:11] jaylevitt commented on #1
ah, ok - the "hang" is pss parsing my very long log files, which are not part of the project but which are apparently getting included anyway by virtue of being in a child of the current dir. I wonder if there's a way to get ST's idea of "files that should be searchable", which would incorporate its folder and file patterns..

[2011-11-24 00:51] robcowie commented on #1
Interesting. I'm not currently aware of a way to get a list of files in the current project. `window.folders()` returns paths to all folders currently in the sidebar. The plugin scans these folders, and any other open documents.

ST defines `file_exclude_patterns` to exclude files from the sidebar but by default that does not exclude .log files. Now I think about it though, excluding them probably

[2011-11-24 15:31] jaylevitt commented on #1
To clarify, I have the following in my user's Global.sublime-settings:

[code]

So if you are able to exclude `file_exclude_patterns`, `folder_exclude_patterns` and `binary_file_patterns`, you'll behave the same way find-in-files does.  (The first two patterns are for the sidebar, and the last is additional exclusions that should show up in the sidebar but be skipped by search.)

Because I have `l

[2011-11-25 15:54] robcowie commented on #1
`folder_exclude_patterns`, `file_exclude_patterns` and `binary_file_patterns` are now honoured. I'd appreciate your comments.

The code is getting a bit convoluted now. No biggie - this is basically a work in progress. A cleanup is in order I think.

[2011-11-25 22:38] jaylevitt commented on #1
Hm, not soup yet:

[code]

[2011-11-26 00:10] #2 closed, assigned to robcowie

[2011-11-26 00:18] robcowie commented on #1
That's odd. The new keyword arg was definitely added to pss_run() in the last commit. See 10ddb9df9831dfe31b32636e43601a8c629bbf8f. It might be something weird going on with package control, though I can't think what. Perhaps try removing the plugin dir and reinstalling it.

[2011-11-26 00:28] robcowie opened #3 "UnicodeDecodeError on non-ascii results"
When building the result output, the matched string is implicitly decoded. It fails if it cannot be decoded as ascii.

Is there a fast way of determining the encoding of a file?
If not, perhaps just try utf8, else use ST2 `fallback_encoding`

[2011-12-20 13:46] robcowie commented on #3
Right now, input (matched messages) is assumed to be `utf8` and decoded with the `ignore` flag.

No attempt is made to detect the encoding of the target file. This is obviously not ideal behaviour but it does at least prevent failures due to encoding issues. I'll revisit this stuff it it proves to be an issue.

[2011-12-20 13:46] #3 closed, assigned to nobody

[2011-12-22 15:24] robcowie commented on #1
I've replaced pss with some simpler code that combines patterns and iterates files once, rather than once per pattern as dictated by pss. I probably _should_ modify pss and submit a pull request, but in the short term, this is a much quicker improvement.

So, plenty has changed. It would be great if you can update, and let me know if you encounter any more problems.

cheers and Merry Christmas, Ro

[2011-12-22 15:24] #1 closed, assigned to robcowie

[2011-12-23 15:43] jaylevitt commented on #1
YES! It works beautifully now. Thanks!

[2011-12-27 22:56] robcowie opened #4 "Failure if symlink points to non-existing file"
Hi Rob,

when I scan my project for to do items, I get the following in the console (sanitizing file names):

[code]

Here, zzz is the absolute name of a symlink that points to a nonexisting file.

Version is: "2011.12.19.20.10.31" (from package-metadata.json).

Thanks,
Kai

[2011-12-27 23:38] #4 closed, assigned to robcowie

[2011-12-28 20:05] kgrossjo commented on #4
Thank you, sir, it works nicely.

[2012-01-09 06:01] kgrossjo opened #5 "Command to go to a to do item"
In the list of to do items, it would be cool if I could jump to the current one with a keybinding.  This would open the correct file and move point to the correct line in that file.

[2012-01-09 06:03] kgrossjo opened #6 "Keybindings to navigate results and jump to file"
It would be cool if there was a default keymap that allowed easy browsing of the to do list.

For example, n/p could go to the next/previous item.  j/k could also do the same, for vi aficionados.

Slash could invoke incremental find or regular find.

Enter could open the current item.

[2012-01-09 06:04] kgrossjo opened #7 "Set tab title"
I think the tab created by the "show todos" command should not be named "untitled".  It should be named "TO DO" or "ACTIONS" or maybe "\* TODO *".

[2012-01-09 06:06] kgrossjo opened #8 "Avoid duplicate tabs"
When I invoke "show todos" twice in a row, I get two tabs with the to do items in them.  I think the second invocation should update the first tab, instead.

Otherwise, if a long time passes between the two invocations of "show todos", then it becomes hard to understand which of the two lists is the more current one.

[2012-01-09 06:07] kgrossjo commented on #6
I wish I understood how to use the "command_mode" setting.  I think I have to set it to False to make single-key keybindings work with Vintage.

[2012-01-09 06:08] kgrossjo commented on #8
Maybe it becomes easier to do this after doing #7.

[2012-01-09 12:19] robcowie commented on #7
This one's easy. I'll add a setting `result_title` (defaulting to 'TODO Results') and append a number to differentiate between existing results pages (TODO Results 1, TODO Results 2 etc.). User can override the title if they want.

[2012-01-10 05:09] kgrossjo commented on #7
I wonder why there is the suffix?  Is it to support multiple projects?  I think the user can only have one project open per window at a time, so one "TODO Results" per window should be fine, as well?

There must be something I'm not seeing...

[2012-01-10 20:22] jimpriest commented on #5
Either a keybinding or being able to click on the filename / line # (similar to how search works) would be great!

[2012-01-11 11:32] nigauw commented on #5
It would really help to display the path as well as the filename and line.

[2012-01-12 10:54] hced commented on #5
+1 for this. Navigating to the todo/fix items would be the killer feature.

[2012-01-12 13:23] zanematthew commented on #5
Yeah I would love this feature, with out it really I can really just use the native search feature in sublime2

[2012-01-13 10:20] robcowie commented on #7
I didn't like the idea of destroying an existing TODO list with a new one. The user may have edited it for example. However, I think I'm probably imagining scenarios that don't really exist. It would certainly be simpler to assume only one TODO list per window.

[2012-01-13 11:28] robcowie commented on #8
Agreed

[2012-01-13 11:32] kgrossjo commented on #7
What would happen if the user saved the to do list?  I think that might change the tab title.  And then the next to do command would automatically create a new tab, if the implementation looks at the name...

[2012-01-13 12:48] robcowie commented on #7
I'm undecided on what should happen in that case:

a) Don't overwrite the saved view, instead create a new view
b) Replace the contents of the saved view and set is_dirty = True

Both are fairly trivial to implement. Your thoughts are appreciated.

[2012-01-13 14:13] kgrossjo commented on #7
I proposed this as a solution for the user to allow editing a to do list without these edits getting clobbered by another invocation of "compute to do items".

So:
- User computes list of to do items
- User starts editing the to do list buffer
- User hits Save and gives that list a new name
- The tab gets renamed
- User computes another list of to do items
- This creates a new tab

And:
- User com

[2012-01-13 19:56] robcowie commented on #7
I agree not clobbering user edits in a results view is a good idea. So;
- If no results view exists, create one (with user-definable title)
- If one _does_ exist and it is a scratch buffer (i.e. it has not been saved), overwrite it
- If one does exist _and_ it has been saved, create a new view

Good for you?

[2012-01-13 23:42] kgrossjo commented on #7
Purr-fect!

[2012-01-13 23:59] #7 closed, assigned to nobody

[2012-01-14 00:00] robcowie commented on #8
See f575652

[2012-01-14 00:00] #8 closed, assigned to robcowie

[2012-01-15 13:14] robcowie commented on #6
I've been playing with `command_mode` this morning; When set to `true` for a view, key presses are not sent to the buffer; Well, letter keys aren't. It seems keys such as `enter` are, which is annoying.

So, if a plugin provides key bindings with the context `{"setting.command_mode", "operand": true}`, it's easy to build single-key commands.

I have result navigation working. `n` and `p` step thro

[2012-01-15 15:13] kgrossjo commented on #6
Interesting.  For Dired and Tablist, I set command_mode to false and then bound n/p and j/k, and it didn't work for command_mode being true...  But I think the problem only happens when you use Vintage -- which I sometimes do.

For Dired and Tablist, I tried a few things.  One idea was to put data into the buffer and then hide that data via the tmLanguage settings.  But I couldn't make the data co

[2012-01-15 15:36] robcowie commented on #6
Interesting, thanks.

I've had some ideas similar to yours. I was planning to stuff filepath/linenum data into a dict in settings, keyed on either line number of region boundary (each result line is a region). As you said though, it's fragile as region boundaries can be modified by the user.

Instead, I think I'll key the path info on (filename, item number). On select, I can parse the line and pu

[2012-01-16 05:40] kgrossjo commented on #6
The view-related API exists: view.settings().set('key', value)

Dired does view.settings().set('dired_entries', entries) where entries is an array of strings (the file/directory names).  As I mentioned before, the index into this array is part of each line.

Kai

On 15 Jan 2012, at 16:36, Rob Cowie wrote:

[2012-01-16 05:41] kgrossjo commented on #8
Thank you, sir.

On 14 Jan 2012, at 01:00, Rob Cowie wrote:

[2012-01-18 17:08] robcowie commented on #5
Closing this as it is closely related to #6

I have a dev version with keyboard navigation through the list; (n)ext, (p)revious, (c)lear selection. The selected item is highlighted though of course that depends on your theme.
Navigating to the file and line is somewhat tricky. Whatever the find in files results use, it isn't documented or obvious.

[2012-01-18 17:08] #5 closed, assigned to nobody

[2012-01-19 05:13] kgrossjo commented on #5
Well, find in files is easy, you can do it with build systems.  Any line that starts with a non-whitespace and ends with colon contains a file name.  Subsequent lines that begin with whitespace, then contain a number, then a colon, that number will be the line number to go to.

This page explains how to (easily) have file name and line number on different lines:
http://sublimetext.info/docs/en/ref

[2012-01-21 21:11] OscarGodson opened #9 "Should be able to click on result to go to file"
Like search, you should be able to click on the result to jump to that file and line

[2012-01-21 21:13] OscarGodson opened #10 "README says to put into /text, but that is wrong"
I put it in text, but it didn't show up so i moved it up a directory into Packages and it worked.

This:
`sublime/text/Packages`

Should be:
`Sublime Text 2/Packages`

[2012-01-21 21:37] robcowie commented on #9
I'm looking into it but right now. Unfortunately sublime-mousmap doesn't yet support context in bindings (See http://www.sublimetext.com/forum/viewtopic.php?f=6&t=3311) so I can't directly emulate the find-in-files results behaviour. Right now, I have no idea how that behaviour is implemented.

It is likely that I will release a version that supports keyboard navigation through the results; (n)ext

[2012-01-21 22:19] robcowie commented on #10
Thanks. Changed.

[2012-01-21 22:19] #10 closed, assigned to nobody

[2012-01-22 06:01] OscarGodson commented on #9
I'm not familiar with the API, but I'm assuming it must allow you to trigger a function on click. If so, could you grab the line clicked on? And if yes to that you could use a simple regex pattern with captures around important things you need like line numbers and use their API to open the file and go to the line number.

[2012-01-22 11:17] robcowie commented on #9
Correct. I can bind functions to clicks using a `.sublime-mousemap` however, mousemap bindings don't support a context so _all_ clicks - in all views - will attempt to run the bound function. The function could easily check to se if the current view is a todo results view, but it's horribly inefficient.

I'm also not sure it is possible to delegate to existing click handlers. If not, that would me

[2012-01-29 00:42] sumtraveller opened #11 "Rather not use: folder_exclude_patterns / file_exclude_patterns"
Overloading the use of folder_exclude_patterns / file_exclude_patterns to indicate what should be searched for todo's would be better as separate fields..

I may want to see 3rd party libraries like underscorejs, jquery, node_modules but not want to see the todo's in them.

Would prefere a completely separate eclusion pattern.

-A

[2012-02-01 06:04] pierregoudjo opened #13 "TODO extracting doesn't work"
When I want to show TODO results, blank page appears.
The console tracback is:

[code]

[2012-02-01 18:49] Tolmark12 opened #14 "How do add custom patterns?"
I'm probably just missing something, but I've been trying to add a custom pattern to my user settings file, do you have a sample of what that looks like in json syntax?

This is what I've tried:

[code]

[2012-02-01 21:19] robcowie commented on #14
In your user settings file, add a new item `"todo": {}`. Add patterns to that object. It should look like:

[code]

Have a look at my user settings at https://gist.github.com/1719536

[2012-02-01 22:08] #14 closed, assigned to robcowie

[2012-02-01 22:08] Tolmark12 commented on #14
Perfect, thanks!

[2012-02-02 11:24] robcowie commented on #13
What version are you using? Latest should be listed as `v2012.01.21.17.16.06` (via the List Installed Packages command)

Early versions did not handle encoding issues like this. I reckon I've 'fixed' it. I can't always correctly decode the file contents as the plugin doesn't know what encoding is used in the file. It tries utf8, then the configured default encoding (ST2 setting) and fails silently

[2012-02-02 12:01] pierregoudjo commented on #13
I am using v2012.01.21.17.16.06 version of the plugin.

[2012-02-07 12:36] robcowie commented on #13
What is your default file encoding and fallback encoding (see `File Settings - Default`).

I'm having a hard time reproducing the problem. It would be great if you could isolate the file that is causing the problem and share it (or the part of it that is the issue).

[2012-02-07 13:15] pierregoudjo commented on #13
My default file encoding is UTF-8, fallback encoding is "Western (Windows 1252)". I am working on Ubuntu Linux 11.10. Do you think that my problem come from my OS?

[2012-02-07 14:51] robcowie commented on #13
Unlikely to be an OS issue. It is inevitably a bug of my making. Any luck isolating the offending file?

[2012-02-09 15:45] pierregoudjo commented on #13
I have a look to the file (despite Python isn't my stuff) and your todo.py looks good. I can't locate the bug.

[2012-02-12 14:56] robcowie commented on #9
I have a prototype working with keyboard nav and `alt+double-click` goto functionality working. Code needs a bit of tidying up and I need to test it for a while.

[2012-02-12 17:05] OscarGodson commented on #9
@robcowie whoo! Let us know!

[2012-02-17 12:05] robcowie commented on #13
Are you still having issues? Does the plugin run on _any_ of your files?

[2012-02-17 12:07] robcowie commented on #11
I pulled some changes from @lennart recently that allow you to define exclude patterns specifically for the TODO plugin. I'd appreciate some feedback. Does it solve your problem?

[2012-02-17 12:09] robcowie opened #15 "Show file paths relative to open folders"
In a project with many identically named files, it can be difficult to figure out which one you're looking at. Show file path rather than just file name. Paths would be relative to the open folders (so not full paths on the file system).

If anyone has any opinions about this, drop a comment.

[2012-02-17 19:16] pierregoudjo commented on #13
Issues still persist. I ran the plugin on php, js, txt. Nothing

[2012-02-18 17:00] perez-rich opened #16 "Support for TODO Priority"
I was thinking it would be good to have some sort of support for priority in TODOs. I was thinking when you write a TODO you do something like this:

 # TODO: (HIGH) This is a very important todo
 # TODO: (HIGH) This is another very important todo
 # TODO: (LOW) This is a not so important todo

Then when you list your TODOs the list would be organized with priority in mind.

 ## TODO (3)
HIGH
1. T

[2012-02-19 19:32] mrvkino opened #17 "clarification on the settings option"
The only place where the todo option are taken into account are the project setting file. Anywhere else they are ignored.

I'm using the latest version of sublimeTODO, sublime text 2 on lion osx.

[2012-02-19 21:55] robcowie commented on #17
To set globally, add settings to `Base File.sublime-settings`, via `Sublime Text 2... Preferences... File Settings - User`

You need to add a 'todo' key to the top-level array and map to that an array, so it looks something like...

[code]

My current user settings file can be seen at https://gist.github.com/1719536

[2012-02-19 23:11] mrvkino commented on #17
Ok! I think I understand what is happening. Some of the setting put in the "Base File" are over-writted by the "todo" setting in the project setting file.

This Is what I have in my "Base File".

[code]

and this is what I have in my project setting file

[code]

If I add a css file in my project it is supposed to be ignored because of the exclude in the "Base File".

"test.css"

[code]

I get a f

[2012-02-27 19:08] robcowie commented on #9
I've pushed an update that implements keyboard _and_ mouse navigation. alt-double click on a line in results to jump to the appropriate file and line.

Keyboard navigation is (n)ext, (p)revious, c(lear), enter.

As ever, feedback and bug reports gratefully received.

[2012-02-28 09:51] robcowie commented on #17
Would it help if exclude and message patterns _were_ appended together from multiple settings files?

[2012-02-29 15:36] mrvkino commented on #17
I don't think it has to change! File and folder exclusion is usually project dependant and the TODO tags are generally the same for all the projects. If the exclude are appended it will be hard to have a default exclusion of files, because in some project you might want to have access to file you usually don't use. Beside, copy-pasting is not very long to do. If I'm the first to make the comment,

[2012-02-29 15:45] robcowie commented on #17
Excellent... I was hoping you'd say that! I'll have a look at the README one day when I'm in a writing mood; I'm sure it can be improved.

[2012-02-29 15:45] #17 closed, assigned to nobody

[2012-03-14 23:42] #9 closed, assigned to nobody

[2012-03-14 23:43] #6 closed, assigned to nobody

[2012-03-15 13:04] robcowie opened #18 "Broken default FIXME and CHANGED patterns"

[2012-03-15 13:12] #18 closed, assigned to robcowie

[2012-03-17 13:09] robcowie commented on #13
@pierregoudjo Just merged a pull request from @kch42 that should fix your issue. Can you update and let me (us) know if the your issue persists. Thanks.

[2012-03-17 15:53] pierregoudjo commented on #13
The plugin works now. Great! Thanks you!

[2012-03-17 15:53] #13 closed, assigned to robcowie

[2012-03-21 16:20] anthonyringoet opened #20 "To do overview - link to file"
I'm just wondering if it's possible to enable a link behaviour from the to do overview page to the specific file and line number.
Now I get an overview, but it would be pretty handy if I could click and open the right file.

[2012-03-21 18:47] robcowie commented on #20
`alt-double click` on a line and it'll jump to the message file and line.

I pushed this feature about a week ago and several people have said that the package has not been updated by the package manager. I have yet to get to the bottom of it. Please remove the package (via the package manager) and reinstall.

[2012-03-22 08:40] anthonyringoet commented on #20
Awesome, It's working now. Thanks!

[2012-03-22 08:40] #20 closed, assigned to nobody

[2012-03-24 00:02] erinata opened #21 "Mapping keys in windows"
This plugin is excellent!!!!

It seems that you didn't map the keys for task navigation in windows.  I copied the keymaps of OSX and it seems that it works properly. If you don't mind please include it in your plugin so the Windows people can also navigate in the beautifully generated Todo list?

https://gist.github.com/2176513

In this file, I also maps the "up" and "down" key in addition to the

[2012-03-24 21:22] robcowie commented on #21
Cheers for your efforts; I'll certainly include the windows keymap. The todo list _should_ be read-only already. I'll look into it.

[2012-03-24 23:58] erinata commented on #16
I think you can put

[code]

Into the Preferences.sublime-settings file.

In this sense you can have

[code]

And it will yield

[code]

Not exactly the pattern you want but as the pattern you require is overlapping with the original TODO pattern, I cannot overwrite it.

( However I am not using them because typing (HIGH) and (LOW) is too much typing for me. I would rather use the pattern `"TODO\\

[2012-03-25 00:08] erinata commented on #15
I am actually worrying about the long file path, which will reduce the readability of the todo list

One solution is to group list by file

[code]

Another thing is to just show the path relative to project root, instead of absolute path.

[2012-03-25 00:21] perez-rich commented on #16
Great idea. I'll use that method since it does work as a good compromise. Thanks!

[2012-03-26 15:18] robcowie commented on #21
See e1dc9f8e67

[2012-03-26 20:26] erinata commented on #21
Looks like you don't like the up and down keymapping.........I will add it to my own branch then.

[2012-03-26 23:32] robcowie commented on #21
Ha. Nope, I just forgot. I'll add them shortly

[2012-03-27 09:45] robcowie commented on #21
Up/down added. See 8463fa1d43. Appreciate some testing on windows if you have the time.

[2012-03-28 09:02] erinata commented on #21
It works perfectly. I also test it in linux.

[2012-03-28 09:02] #21 closed, assigned to nobody

[2012-04-03 14:11] chrisjaure opened #22 "scan open files only"
I'd love to use this plugin, but we have a rather large project with thousands of files and scanning them all can take a bit. An option to scan only open files would be awesome.

[2012-04-03 22:21] robcowie commented on #22
Sounds like a useful feature, I'll have a think about it. Would you prefer a setting (say `open_files_only: True`) or a second command ('Show TODOs in open files only`)?

Also, If you have the time I'd appreciate some numbers about the speed of the plugin when scanning large numbers of files. I've been considering changing the way the plugin works... scanning once in the background, maintaining a

[2012-04-04 14:47] chrisjaure commented on #22
It takes ~1:40 to scan ~4200 files.

I'd prefer a second command. And for consistent formatting with other commands, it should probably be something like "TODO: Open Files" but I know there's other todo plugins you need to avoid naming conflicts with.

[2012-04-05 20:37] aroman opened #24 "Mouse/keyboard navigation does not work"
What it says on the tin.

Doesn't work at all for me, no errors logged in the console.

[2012-04-06 14:09] robcowie commented on #24
Not good. Ok, to get the obvious out of the way, could you remove the package and install it (using package control). There have been reports of failed updates so you might be using an old version.

Also. What platform are you on?, what version of ST2?, and what version of SublimeTODO is reported by Package Control?

[2012-04-06 16:22] aroman commented on #24
Thanks for the quick reply.

I'm on Ubuntu 11.04 with ST2 2181 using Vintage mode.

Package Control reports SublimeTODO v2012.03.29.17.22.07.

I uninstalled and reinstalled the package to no avail. Is there a way of changing the alt+double click modifier key? I have a feeling that might be conflicting with a desktop-level keybinding. Regardless, it's not just the mouse that isn't working -- it's t

[2012-04-06 18:00] robcowie commented on #24
Yup, it's vintage mode. With my setup, keyboard nav is borked with vintage mode on but alt-double-click works. No doubt your hunch about OS-level keybindings conflicting with alt-click is accurate. So... I can make the double-click modifier key customisable without much effort. I'm not yet sure what I can do about vintage mode. I'll look into it.

[2012-04-08 12:49] robcowie commented on #22
Damn it... I just pushed a commit I didn't want to push. Please ignore that; I'll revert.

[2012-04-08 13:03] robcowie commented on #22
Second command `Show TODOs: Open files only` added. Give it a shot and let me know if there are any issues.

[2012-04-09 15:18] chrisjaure commented on #22
Works perfectly. Thanks :)

[2012-04-09 16:40] robcowie commented on #22
:+1:

[2012-04-09 16:40] #22 closed, assigned to robcowie

[2012-05-01 22:45] robcowie opened #25 "Show time taken"
Time taken to search all files

[2012-06-29 09:56] robcowie opened #27 "Grouping multiple patterns under a single output header"
Greetings,

I've been using your SublimeTODO plugin for Sublime Text 2 and it's been great. I really appreciate you writing it.

However, I have one question that I haven't been able to figure out on my own (probably owing it my own inexperience with Sublime plugins and Python programming in general.) My question is, is it possible to add multiple patterns to be grouped under one heading in the ou

[2012-06-29 10:01] robcowie commented on #27
There isn't any direct support for this (it simply didn't occur to me when I wrote it) but, as the patterns are regular expressions we can combine more than one pattern. In your case we could override the `TODO` pattern with one that matches 'TODO' and 'dothis'.

In your user settings file add a 'todo' section and with a custom TODO pattern. It'll look something like this;

[code]

Note the `(TODO

[2012-06-29 22:01] spovich opened #28 "core_patterns not updated correctly by patterns in prefs"
I want to match FIXME and TODO without the trailing colon.  I added the following to my prefs (I removed ':+' from the regex):

"todo": {
  "patterns": {
    "TODO": "TODO[\s]_?(?P<todo>._)$",
    "FIXME": "FIX ?ME[\s]_?(?P<fixme>\S._)$"
  }
}

However, it still only matches 'FIXME:', not 'FIXME'.  If I make the same change in todo.py in the core_patterns variable, then it works.  Something is bor

[2012-07-01 10:10] int3h commented on #27
Thanks, appreciate the answer, and putting it up publicly. I felt odd putting it as an issue, since it was more of a question than a flaw in the software. But this answers the question nicely. Thanks again!

[2012-07-03 08:51] #27 closed, assigned to robcowie

[2012-07-03 08:52] robcowie commented on #27
No problem

[2012-07-11 03:55] niecw opened #29 "Exception when pattern in folder_exclude_patterns not found"
When the folder_exclude_patterns is set with something that is not found, it will generate the following Traceback:

[code]

The following patch if applied to todo.py seems to "cure' it:

[code]

[2012-08-27 11:49] taboada commented on #24
Hello, got any follow up about this ? I'm using Vintage mode too, and cannot figure out how I can make TODO react to the standard "n", "p" and "return" keys. The alt-dblclik works though.
Thank you for any help you can provide …

[2012-08-27 15:46] robcowie commented on #24
To be honest, I haven't looked at it for a while. I'll try to set some time aside this week to look at it.

I think the best solution I can provide is to move the move the key bindings into the User folder (a pattern followed by most plugins now) so that they override the defaults provided by other plugins (including Vintage). I'll also add a scope to the keybinding context so they operate only in

[2012-08-27 16:23] taboada commented on #24
Very cool ! Looking forward testing that soon (and I'll be happing to test and report back to you if it helps ;-)

Thank you very much.

[2012-09-02 10:34] merlinthered commented on #24
Hi and thanks for this very useful package. If you could also restrict the mouse click command to only work in the TODO results that would be awesome. Avoiding conflicts with other stuff using the same binding in a different context is always a good thing.

[2012-09-07 18:09] skarfacegc opened #31 "Use a list dropdown rather than a new buffer for the list of TODOs"
Would love to see the todo list as a dropdown (like package list does) rather than a new buffer/tab

[2012-09-09 11:39] robcowie commented on #31
I'll see what I can do. It'll probably be a configurable option, something like

[code]

I'm currently trying to reorg the plugin settings in a backwards-compatible way, then I need to fix the incompatibility with vintage mode. When I've done that, I'll get to this.

[2012-09-10 11:35] raik opened #32 "UnicodeEncodeError - Todos do not extract"
The folder where the file is based is named Kübertöökoda. Maybe it helps.

[code]

[2012-09-10 12:04] #32 closed, assigned to nobody

[2012-09-10 23:35] robcowie commented on #32
Upgrade (if you use Package Control it should already be done). Let me know if the problem is fixed.

[2012-09-11 06:36] raik commented on #32
Fixed. Thanks.

[2012-10-08 23:02] hmatanock commented on #15
Any progress on this?  I would like this feature a lot.   I wouldn't have any problem with the full system path.  Would you be able to make it double-clickable like it is on the multi-file search results?  That would be ideal, IMHO.

I like the grouping suggestion that erinata made.

[2012-10-26 04:23] dkavelin opened #34 "Error when folder_exclude_patterns contains directory "cache", "logs""
I have folders in project named  "cache" and "logs" and i dont want TODO plugin to scan them. I edit config file and get errors in console

Exception in thread Thread-42:
Traceback (most recent call last):
  File ".\threading.py", line 532, in __bootstrap_inner
  File ".\todo.py", line 289, in run
  File ".\todo.py", line 226, in format
  File ".\todo.py", line 169, in extract
  File ".\todo.py",

[2012-10-26 10:50] robcowie commented on #34
You've definitely discovered a bug. Could you post the relevant config? That would help me to be clear about the problem.

Could you also confirm that the plugin is up to date (v1.1.1)

[2012-10-29 04:43] dkavelin commented on #34
OK, i understand what happed :) I've got folders "cache" and "logs" in section "folder_exclude_patterns" of main config file and this cause plugin failure.

[2012-10-29 10:46] robcowie commented on #34
Can you post your config (just the `todo` section will do). Thanks

[2012-10-29 15:11] dkavelin commented on #34
Sublime Text 2/Packages/User/Preferences.sublime-settings

{
    "auto_complete_delay": 500,
    "bold_folder_labels": true,
    "color_scheme": "Packages/Color Scheme - Default/Monokai Bright.tmTheme",
    "create_window_at_startup": false,
    "file_exclude_patterns":
    [
        "index.html",
        ".htaccess"
    ],
    "folder_exclude_patterns":
    [
        ".svn",
        ".git",

[2012-10-29 15:51] robcowie commented on #34
Ok, I'm guessing that at one point, you also had `cache` or `logs` in the todo-specific `folder_exclude_patterns` as well as the top-level `folder_exclude_patterns`. That certainly causes the error you saw.

I'll push a fix shortly and let you know.

[2012-10-29 17:23] #34 closed, assigned to robcowie

[2012-10-29 18:00] wbond opened #35 "Broken Date"
Your last updated date in your packages.json file is invalid.

[2012-10-29 18:16] robcowie commented on #35
Ah crap. 30 mins and it'll be fixed

[2012-10-29 18:17] wbond commented on #35
No super rush, I added some code to the channel server to handle it for now.

[2012-10-29 18:37] #35 closed, assigned to nobody

[2012-10-29 18:44] robcowie commented on #35
Should be better. Thanks for the heads up :+1:

[2012-10-30 08:02] robcowie commented on #34
Let me know if the problem has disappeared

[2012-11-12 01:10] peterbata opened #36 "Incorrect Date & Time in TODO Results Heading"
My TODO results file is showing:

TODOS @ Monday 12 November 2012 01:04.
It is TODOS @ Sunday 11 November 2012 20:04 where I am located. (Canada EST)

Thank you

[2012-11-12 09:50] robcowie commented on #36
UTC vs local. Not entirely sure why I stuck UTC in there.

[2012-11-12 09:52] #36 closed, assigned to nobody

[2012-11-15 18:35] Tyderion opened #37 "UnboundLocalError in extract(self)"
Hi there

I don't know why i get this error. I started a new rails project a while ago and now your plugin produces an UnboundLocalError when I try to view all TODOs.
 In a different project my SublimeTODO-config works perfect, so I don't think my configuration is part of the error.
This gist contains the traceback and a very simple fix:
https://gist.github.com/4080313

[2012-11-20 10:17] #37 closed, assigned to nobody

[2012-11-20 10:18] robcowie commented on #37
Thanks dude. The fix is committed and I'll push an update to Sublime packages shortly

[2012-11-20 15:22] kontrafiktion opened #38 "multiple lines with TODOs"
I only ever get one result line per file.
I expected to get a line for each and every TODO.

instead of

[code]

I expect

[code]

[2012-11-20 15:30] kontrafiktion commented on #38
ah, my bad. the placing of the colon

[code]

vs.

[code]

[2012-11-20 15:30] #38 closed, assigned to nobody

[2012-11-20 16:35] robcowie commented on #38
No worries

[2012-11-21 18:21] Tyderion commented on #37
thanks for fixing :+1:

[2012-12-03 14:41] kuddl commented on #15
Jep, I would love to see this feature !! Maybe as a config Option?
And jepp, it would be very helpful, to Group them by folder ...
I litte bit like erinata's Idea:

[code]

[2013-01-16 23:11] jcolebrand commented on #31
I for one would prefer this to open into a new file

[2013-01-18 10:36] jcldavid opened #39 "Open the file when double clicking"
You can see this feature when you search for texts in files inside ST2, when you double click on the excerpt of that file, that files gets opened on a new tab on that specific line where it's found. Would it be possible to grab that specific functionality for SublimeTODO?

[2013-01-21 09:56] AlekSi opened #40 "Menu item to edit preferences"
Looks like plugin is missing menu items to edit preferences. Example: https://github.com/apophys/SublimeManpage/blob/master/Main.sublime-menu

[2013-01-21 11:21] robcowie commented on #40
Yeah. I need to move the preferences from User prefs to a separate plugin preferences file (which is the usual pattern now, though wasn't clear when I first wrote this plugin). I'm struggling to find a way to do that in a backward-compatible way. I need to conditionally migrate settings from `User.Preferences.sublime-settings`.

When I've done that, I can add a menu item

[2013-01-23 09:33] unikitty37 opened #41 "Set a scope for TODO text"
SublimeTODO doesn't appear to add a scope (such as text.todo) to comments that match a pattern, meaning the only way to find TODO items is to use the Show TODOs option and bounce between tags.

Setting a scope would allow users to set a custom highlight in their colour scheme, meaning TODO items get spotted when scrolling past, rather than when explicitly searching for them. (Users who don't want

[2013-01-24 11:25] asfaltboy opened #42 "Add gutter icons on lines with TODO item"
Scan opened file (on open and save) and add a custom gutter icon when TODO items are found in the file.

I'd like to implement this, so this is a reminder placeholder

[2013-01-24 21:36] fnkr opened #43 "Also show TODOs if file is not saved"
Why do you always have to save the file before any new todo items are displayed?

[2013-02-06 22:44] Hezix commented on #39
I Second that this feature would be very useful.

[2013-02-07 10:06] fnkr commented on #39
+1 from me.

[2013-02-07 10:16] robcowie commented on #39
It sort of exists; If you hold `alt` (or `shift` if on linux) and double-click, it will open the appropriate line.

It's currently hard to find the time to hack on the plugin right now and there are several things that need doing to make it easier to maintain (not least, make it py3 compatible). I'll see what I can do.

[2013-02-07 10:21] fnkr commented on #39
Thanks, working perfect!

[2013-02-07 17:02] Hezix commented on #39
Tested the alt+double click, works great.  Thanks.

[2013-02-15 13:17] Siyfion opened #44 "folder_exclude_patterns doesn't work on sub-directories"
ie. Assuming I have this in my `.sublime-project` file:

[code]

Only the `node_modules` folder is excluded, the `tests/lib` folder still reports all it's todos, etc.

[2013-02-19 11:14] dpashkevich commented on #44
Hm, this may be related to the issue I'm experiencing
https://github.com/robcowie/SublimeTODO/pull/12#issuecomment-13544680

If you add the same exclude patterns to your global `User preferences`, does the plugin start excluding `tests/lib`?

[2013-02-21 23:24] nicolashohm opened #45 "show todo command is gone"
after i installed SublimeTODO the show todo command appears in the command panel.
After i opened a project or create a new file, the todo doesn't appear anymore.
Remove and install the package again solve the problem.
Open a project than remove the package and install it again doesnt work :(

I use Sublime 2.0.1 on Mac OS 10.8.2

[2013-02-22 12:16] jgilchrist opened #46 "Working with Vintage?"
The navigation commands don't work in Vintage mode. Is there a way to change this?

[2013-02-28 22:05] staticdreams opened #47 "Sublime Text 3 support"
This is a very useful package. I cant leave without in ST2.
But ST3 breaks support. Please update it to support Python 3 (or whatever is causing this  incompatibility)

[code]

[2013-03-05 12:55] Jamesking56 commented on #16
I would really love this feature too

[2013-03-12 17:28] Siyfion commented on #44
@dpashkevich nope, doesn't _seem_ to work either way, no matter where they are defined.

[2013-03-15 17:22] leeahoward commented on #46
+1

[2013-03-15 18:07] taboada commented on #46
That would be soooo nice to be able to continue using Vim mode AND be able to use your plug-in ;-)

[2013-03-18 20:38] pabuisson opened #48 "Highlight TODO flags"
Vim and other editors highlight the TODO/FIXME/etc. flags in the code, so that they are easy to see when quickly scrolling through code (which is really handy !)

![Capture d e cran 2013-03-18 a 21 35 53](https://f.cloud.github.com/assets/769918/272686/85768c66-900b-11e2-99ba-67fa04303170.png)

As the leading todo plugin for sublime text, I thought I could ask for this here. I hope you'll find the

[2013-03-25 14:48] domdoescode commented on #44
Also got this issue, using Ubuntu 12.04

[2013-03-28 21:28] Codelica opened #50 "Explicitly define file paths to include"
Hello,

Really like this plugin, except I work on a project with over 9k files, 95% of which aren't mine, but I need to reference them (so they're in the sublime project). :)

I'd love it if you would consider a configuration option to explicitly set the directories to include (rather then defining exclusions).  On large projects with lots of changing directories that aren't relevant, it would be

[2013-04-15 21:29] justinclayton commented on #39
Very handy; I would argue that if this feature is more prominently documented (perhaps in the README), you could probably even close this issue to most people's satisfaction.

[2013-04-15 21:41] #39 closed, assigned to nobody

[2013-04-15 21:42] jcldavid commented on #39
Actually, it is in the README.

`alt-double click` (`shift-double click` in Linux)

[2013-04-24 21:32] viccuad commented on #48
:+1:  !
this is quite useful. It would be amazing to have this, and also highlight the flags on the minimap

[2013-04-28 15:07] Tomzon opened #52 "@todo pattern?"
Hi, I've tried everything, can't seem to figure out a pattern that would work with @todo Description (PHPDoc type comments).

Can someone help please? I would be most thankful :).

[2013-04-30 14:24] artlawry opened #53 "keybinding command"
Is there a particular command that allows custom keybindings for generating the open files/project TODO file?

something like:

  {
    "keys": ["super+\"],
    "command": "show_todos"
  }

I couldn't find documentation on this or how to find a packages mappable commands.

[2013-04-30 18:00] artlawry commented on #53
apologies - found it with sublime.log_commands(True) in console

(command is "todo" for those wondering)

[2013-05-01 11:37] vovkkk commented on #53
@artlawry in general you can find command right in code: it shall be class e.g. `class SomeArbitraryNameCommand` and command shall be `some_arbitrary_name`

@robcowie could you please come up with a more complicated name? there are a lot of plugins and simple command name has more possibility for conflicts, i.e. imagine if another plugin has same command name.

[2013-05-01 11:47] artlawry commented on #53
@vovkkk I was thinking the same thing regarding name complexity, or rather better namespacing.  "todo" could apply to too many other packages.

I recommend something like "parse_comment_todos"

[2013-05-04 23:05] chadhenry commented on #50
Exactly what I'm looking for as well. I need to exclude all directories and files except one directory and its sub-directories and files.

It would be great to have an "include only" option that would allow only a specific directory (and its sub directories) to be searched. It can be rather tedious (and annoying) to keep the exclude up-to-date with changes on large projects.

One important note I

[2013-05-09 18:10] Tomzon commented on #52
Anyone? It should be an easy fix. It's idiotic to change all @todo-s to TODO-s, just because of this :P

[2013-05-09 18:45] vovkkk commented on #52
Try to put this into your 'Settings - User'

[code]

`"case_sensitive": false` is not necessary I guess, but it seems more flexible than when it's true.

[2013-05-09 19:08] chadhenry commented on #52
@Tomzon, this is what I have in my 'Settings - User':

<pre>
{
    "todo": {
        "case_sensitive": false,
        "core_patterns": {
            "@TODO": "@TODO[\\s:]+(?P<todo>.*)$",
            "@NOTE": "@NOTE[\\s:]+(?P<note>.*)$",
            "@FIXME": "@FIX ?ME[\\s:]+(?P<fixme>.*)$",
            "@CHANGED": "@CHANGED[\\s:]+(?P<changed>.*)$"
                },
        "patterns": {

[2013-05-09 19:27] Tomzon commented on #52
Thank you both very much. I was waiting for 11 days and now you gave it in less than an hour. Both are working!

Cheers

[2013-05-09 19:27] #52 closed, assigned to nobody

[2013-05-13 15:06] webwesen commented on #48
+1 => surely one of the missing features... thanks!

[2013-05-16 14:14] chadhenry commented on #48
Agree, this would be a really nice feature to have!

[2013-05-16 18:55] dnwhte commented on #45
Same issuee

[2013-05-17 10:39] rumpelsepp opened #54 "TODO does not work with Latex files."
The plugin does not find TODOs in latex files.

[2013-05-20 07:44] vovkkk commented on #54
Works for me.

Could you @statschner , please, provide an example which doesn't found?

[2013-05-20 10:10] rumpelsepp commented on #54
Hm okay, I figured out the problem. I'm writing my Bachelor Thesis and I often use something like this:

[code]

When I use this:

[code]

it works. In my opinion the plugin should also find those todos without a `:`.

[2013-05-20 11:36] vovkkk commented on #54
You can customize it; to find line with todo and text w/o colon simply add this into your 'Settings - User'

[code]

To find todo w/o text at all add this:

[code]

If you want both of them then:

[code]

[2013-05-20 13:41] rumpelsepp commented on #54
Thank you very much! :)

[2013-05-27 13:18] emero commented on #44
+1

[2013-06-14 11:04] nunoh opened #55 "file_exclude_patterns per project instead of global"
I don't seem to be able to ignore files to look for TODO annotations per project, just globally. In the README, it is supposedly working. So, am I missing something or is it kind of a bug?

I have tried both these ways with no success:

[code]

and:

[code]

But it does work however, when I place it in the global user settings preferences files.

[2013-06-14 14:40] vovkkk commented on #55
[code]

[2013-06-14 15:00] nunoh commented on #55
That did the trick. Thanks!

I would advise the author of the plugin though, to make it clearer in the README and possibly include the snippet in there too to make it easier for first-timers customizing sublime project settings.

[2013-06-15 13:53] #55 closed, assigned to nobody

[2013-06-29 23:19] mreq commented on #46
Add this to your keybind file:

[code]

[2013-07-04 15:53] AllanLRH opened #57 "binary_file_patterns not loaded from project settings?"
I have a lot of binary files in my project directory. Excluding them the with the `file_exclude_patterns` works, but the `binary_file_patterns` does not.

Here is my TODO-relevant  project setup:

[code]

When examening the code for the plugin, I wonder if the settings for binary files is even loaded from anywhere but the global settings... theese lines seems to be responsible for loading the file

[2013-07-04 19:04] vovkkk commented on #57
put it outside of todo

[code]

[2013-07-11 14:51] cp16net opened #59 "not working on mac"
After installing this on my mac with sublime text 2.0.2 Build 2221 with package manager or manually checking out this repo i can not get a todo list. I look in the sublime console and i get nothing as well. I tried it on my other linux box and it worked just fine.

Other packages are installed just fine and work with package manager.

Anyone else see this issue?

[2013-07-15 19:43] yahyaerturan opened #60 "'dict' object has no attribute 'iteritems'"
Using SublimeText3. Gives errors when it runs:

[code]

My applied settings are:

[code]

And keys:

[code]

[2013-07-24 05:22] FeliciousX commented on #47
Totally agree with you! I'd hate to see this go away in ST3

[2013-07-24 21:59] taboada commented on #46
woho ! Long time away from my computer, and "voilà": a nice workaround. Thank you **mreq**. I'll try and do that tomorrow morning, and keep you posted.

[2013-07-24 22:01] jgilchrist commented on #46
Perfect, thanks @mreq!

[2013-07-24 22:01] #46 closed, assigned to nobody

[2013-07-25 09:16] zaidakram commented on #48
:+1: Its would be Nice!

[2013-07-29 20:14] mattmeng commented on #50
+1

I have over 50,000 files in my repo and the file types are all over the map.  I have a huge exclusion block in my settings where it would be easier to just include the 5 types of files I'm looking at on a daily basis.

[2013-07-30 06:34] pokidovea commented on #47
I join

[2013-08-05 15:06] arturbekasov commented on #60
Same thing. ST3, Ubuntu 12.04 64 bit. Default configuration.

[2013-08-20 08:50] deathmaster9 opened #61 "Not downloading on Mac"
I get this message in the console when trying to install it through the package installer

`Package Control: Error downloading package. HTTP error 400 downloading https://codeload.github.com/robcowie/SublimeTODO/zipball/1.1.3.
error: Package Control`

[2013-08-21 15:34] chrisspiegl commented on #47
Hop to get this soon. It is a very valuable plugin.

[2013-08-23 01:13] xvoland commented on #59
Same issue :(

[2013-08-25 04:07] jpscharf commented on #61
I am having the same issue.

[2013-08-26 10:27] oleksandr-diudiun opened #62 "What about sublime text 3 version of plugin?"

[2013-08-26 21:10] thefirstofthe300 commented on #60
Have you cloned the st3 branch of the repo.  You might want to look at the issue about ST3 compatibility.

[2013-08-27 13:22] T1l3 commented on #61
+1

[2013-08-28 12:40] Zinggi commented on #61
me too, but on windows.

[2013-08-28 13:35] topless commented on #61
+1 for Linux also

[2013-08-28 20:50] nicinabox commented on #61
+1 That url doesn't even look like a real github url.

[2013-08-29 08:02] T1l3 commented on #61
The real url is https://github.com/robcowie/SublimeTODO/zipball/1.1.3

[2013-08-29 08:46] topless commented on #61
Download it manually, extract it, rename it to SublimeTODO, and paste it in sublime-text/Packages, restart Sublime, Ctrl+Shift+P and type TODO.

[2013-08-29 13:02] Zinggi commented on #61
I think package control is to blame: https://github.com/wbond/sublime_package_control/issues/558, https://github.com/wbond/sublime_package_control/issues/587

Similar issue with different plugins.

[2013-09-03 20:35] tbergeron commented on #62
+1

[2013-09-05 05:56] mrmartineau commented on #62
+1

[2013-09-06 20:52] jamesla commented on #62
+1

[2013-09-11 09:41] bfulop commented on #62
:+1

[2013-09-11 15:57] wadtech commented on #62
+1

[2013-09-11 16:21] bfulop commented on #62
I just installed dnatag's fork on ST3 and it works great!
Thanks!

[2013-09-12 11:04] akempes commented on #44
The script doesn't allow folder paths but only the folder names. Add just "lib" to the "folder_exclude_patterns".

Sadly this will exclude **all** lib folder throughout the whole project...

[2013-09-13 08:30] dpashkevich commented on #44
Got it, thanks for clarifying

[2013-09-13 15:06] simonluijk commented on #62
dnatag's fork is also working for me.

[2013-09-20 20:51] evitolins commented on #61
Same here... here's the shell return:

Version 2.0.2, Build 2221

[code]

[2013-10-03 19:47] dufferzafar opened #65 "Adding a hotkey to find TODOs"
How can I add a hotkey that shows the Todo Results for the open tabs.

What is the command name?

[2013-10-07 20:31] prometheus1923 opened #66 "package-metadata.json Error -> "Package Control: Unable to download Sublime TODO. Please view the console for more details.""
Package Control: Unable to find file package-metadata.json in the package SublimeTODO
Package Control: Download Debug
  URL: https://codeload.github.com/robcowie/SublimeTODO/zipball/1.1.3
  Resolved IP: 192.30.252.147
  Timeout: 30
Package Control: WinINet Debug Proxy
  proxy:
  proxy bypass:
  proxy username:
  proxy password:
Package Control: WinINet HTTPS Debug General
  Server SSL Certificate:

[2013-10-09 21:05] halcarleton opened #67 "`Show TODOs` not always available"
As far as I can tell the issue is that the Show TODOs option is only available when I file containing a TODO is open. So if I open a project and want to see a list of TODOs for that project I have to either open a file that I know has a TODO in it, or open/create a file and write a new TODO.

I am using Sumblime Text 3. I'm not sure if this is related to the issue.
OS is windows 8 x64

Love the pa

[2013-10-09 21:33] #67 closed, assigned to nobody

[2013-10-11 10:06] sa3m commented on #66
+1

no more 1.1.3 branch, only master

[2013-10-18 08:48] CNSam commented on #61
Still current

[2013-10-21 18:34] carlosfrodriguez commented on #66
+1

Package Control: Error downloading package. HTTP error 400 downloading https://codeload.github.com/robcowie/SublimeTODO/zipball/1.1.3.
error: Package Control

Unable to download SublimeTODO. Please view the console for more details.

[2013-10-22 08:09] lizzzzard commented on #62
+1

[2013-10-22 11:26] halcarleton commented on #62
The current version is working fine for me in ST3

[2013-10-24 11:51] Aurontwist commented on #66
+1

Same Here!

Unable to download SublimeTODO. Please view the console for more details.

[2013-10-28 00:05] murrah commented on #62
Just installed the current version on Windows 7 ST3 and set the "todo" config in Settings-User. I am getting the menu options to "Show TODO", but nothing happens when I execute them. I have lots of TODO strings within my comments (JavaScript). Any ideas?

@halleycarleton: Did you need to do anything special?

Thanks,
Murray

[2013-10-28 00:25] halcarleton commented on #62
@murrah I didn't have to do anything special. I installed sublimeTODO through "package control: add repository". Once it was installed I added the patterns object to my settings - user JSON and then just started using it with no issue. I generally use "Show TODOs: project and open files" from the command palette.

I'm not sure what you mean by 'menu options to "show TODO",' are you using the comma

[2013-10-28 01:38] murrah commented on #62
Thanks @halleycarleton. Yes that is what I have done also. Files are open, using the Ctrl+Shift+P. When I watch the status bar at the bottom of the screen, no messages appear indicating it is searching. Maybe it doesnt do that anyway.

I am assuming that gas in the code should look like
    // TODO: Blah blah

Thanks for your response!
Go well,
Murray

[2013-10-28 01:47] halcarleton commented on #62
@murrah A message ("Finding TODOs") does show up in the status bar during searches for me, although only for a moment. Also, even if there are no TODOs found you should still be getting an empty search result tab titled "TODO_RESULTS".

Yes that is the correct syntax.

Sorry I can't be of more help.
Goodluck!

[2013-10-28 08:10] lizzzzard commented on #60
+1 here.
ST3, Windows 7 64 bit, default configuration.
I did not install the st3 branch, will try that next.

[2013-10-29 20:37] murrah commented on #62
@halleycarleton Thanks! I will post back here when I solve this. Thanks for confirming what action _should_ be happenning.

[2013-10-30 03:14] dcbartlett commented on #62
I'll donate 50$ to this port.  Can we do bountysource?

[2013-10-30 03:21] dcbartlett commented on #62
I can confirm that @dnatag 's fork does work in ST3 if you load it via the command palette.  I'd like to see it show up under **_preferences>package settings_** as well.

Side-Note: I'd also like to see a feature for right clicking on a folder and searching within that folder.  (10$) Bounty

[2013-10-30 04:38] murrah commented on #62
Thanks @dcbartlett. I installed @dnatag's fork successfully also. One issue I still have is that even though I have overridden the patterns config as shown below, it is still indexing "NOTE:" which I dont want for this project. It is definately using the user todo config because the file and folder exclusions I also added _are_ being used.
        "patterns":
        {
            "TODO": "TODO[\s

[2013-10-30 13:00] tlewin commented on #66
+1

Package Control: Error downloading package. HTTP error 400 downloading https://codeload.github.com/robcowie/SublimeTODO/zipball/1.1.3.
error: Package Control

[2013-11-02 20:44] mikermcneil commented on #66
@robcowie Same here: Sublime v. 2.0.2

[code]

[2013-11-04 09:38] wadtech commented on #62
+1 for NOTE: matching despite user config override.

[2013-11-05 17:21] ksahlin commented on #66
+1

[2013-11-05 22:12] tudo75 commented on #66
+1

[2013-11-08 16:25] pluxain commented on #66
Same here. Too bad, this package was so great...

[2013-11-09 19:02] mklahorst commented on #61
+1 @topless - This solution works. Thanks.

[2013-11-24 15:13] hilja commented on #66
+1

[2013-11-25 00:18] mikermcneil commented on #66
Someone just showed me http://goosecode.com/watson/, which might be a viable option for those of us who haven't completely messed up their rvm/gem install like me :)

[2013-11-25 15:34] deiga commented on #66
watsons problem is the lack of Sublime integration and it apparently can't find `TODO` tags?

[2013-11-25 15:55] mikermcneil commented on #66
Well shit. Back to +1..? Let me know if I can help get this fixed.

##

Mike's phone

[2013-11-25 16:24] deiga commented on #66
I've already fixed this, just waiting for the owner to merge  the
pull-request.
While waiting you can just add the github repo to package control and
install it from there

On Monday, November 25, 2013, Mike McNeil wrote:

##

Timo Sand
timo.j.sand+sig@gmail.com

[2013-12-04 21:49] axelav commented on #62
thanks @dnatag, had to restart ST but then your fork works perfectly.

[2013-12-16 09:33] chrisspiegl commented on #62
+1

[2013-12-19 11:04] wolffc commented on #47
Please update the package for sublime 3 Support.

[2013-12-24 08:52] KoenRijpstra commented on #66
+1

[2013-12-27 15:05] stephan-nordnes-eriksen commented on #66
+1

[2014-01-08 07:21] ahmedelgabri opened #72 "Too slow on big projects?"
I'm working on a huge project with 20k+ files & I couldn't find anyway to specify a path or something to search files only inside this path. So each time I want to search for my TODOs I have to wait for 30secs or so till SublimeTODO scans through all the 20k+ files.

Is there is anyway to optimize this? or even use a different package cause it seems that this project is not maintained anymore.

I'

[2014-01-12 11:33] dinapetrovic commented on #65
Adding this to user bindings worked for me:
`{ "keys": ["ctrl+q"], "command": "todo" }`

[2014-01-13 15:40] dufferzafar commented on #65
Thanks a ton. That worked.

[2014-01-13 15:40] #65 closed, assigned to nobody

[2014-01-21 10:21] quantizer commented on #62
+1

[2014-01-21 12:46] bendem commented on #66
Works also if you remove the subdomain in the url instead of the ball of zipball...
Then it looks like https://github.com/robcowie/SublimeTODO/zipball/1.1.3 instead of https://codeload.github.com/robcowie/SublimeTODO/zipball/1.1.3

[2014-01-25 15:08] ddahan commented on #61
Thx @topless

[2014-02-03 16:45] halcarleton commented on #72
https://github.com/robcowie/SublimeTODO#excluding-files-and-folders

You can exclude paths that you don't want to search easily with the `folder_exclude_patterns` setting. But if you mean on a case by case basis I don't think there's any easy way to do this.

[2014-02-03 19:05] ahmedelgabri commented on #72
Ok, can I add this inside a `project.sublime-project` or it needs to be in my main preferences?

[2014-02-03 20:12] halcarleton commented on #72
you can include it in your `.sublime-project` file. You will need to put it inside a "settings" object though.

example:

[code]

[2014-02-04 05:32] ahmedelgabri commented on #72
Thanks @halleycarleton I'll use this for now but although I prefer something like "search in specific folders" cause with these settings I need to add something like 8 - 10 folders by hand.

[2014-02-06 21:44] jonathanrdelgado commented on #62
For all those waiting:

Went ahead and fixed all the issues and added a bunch of features today. Here is the repo: https://github.com/jonathandelgado/SublimeTodoReview - currently in line to be added to Package Control - should be there tomorrow.
- Fixed Setting Issues
- Fixed Result Navigation Issues
- Added Color Scheme Support
- Added Priority Support
- Added Tag Support

More features coming s

[2014-02-06 23:14] dnatag commented on #62
Initially, I thought I gonna put together something, but never had sufficient energy and time other than small bug fix. This is excellent!

[2014-02-11 17:27] andredurao commented on #62
+1

[2014-02-13 17:14] rooc commented on #62
+1

[2014-02-16 00:03] JesusLeon opened #73 "Package Control: HTTP error 400"
Package Control: Error downloading package. HTTP error 400 downloading https://codeload.github.com/robcowie/SublimeTODO/zipball/1.1.3.

[2014-02-16 03:22] jonathanrdelgado commented on #62
My final update to this:

TodoReview is now on Package Control. @robcowie has also handed over his spot in Package Control, so any active users with SublimeTODO installed will automatically be transferred over.

If you have any questions or issues, please submit an issue over at https://github.com/jonathandelgado/SublimeTodoReview.

Thank you.

[2014-03-18 18:05] skybondsor commented on #73
+1

I had to -- gasp! -- clone this using command line.

[2014-04-02 19:22] jonathanrdelgado commented on #73
Hi,

This plugin was shifted around in Package Control; it has a new maintainer at https://github.com/jonathandelgado/SublimeTodoReview

Current users should have had a smooth transition; i'm not sure why you didn't.

[2014-07-03 14:54] redbar0n commented on #44
+1

[2014-07-03 14:55] redbar0n commented on #44
@akempes @dpashkevich actually, it does say it allows folder paths:

"The path may be relative to the project directory, or a fully qualified path."

https://www.sublimetext.com/docs/2/projects.html

[2014-07-03 14:57] redbar0n commented on #44
This might help some get the folder_exclude_patterns to work:

http://stackoverflow.com/questions/14203944/sublime-text-folder-exclude-patterns-stopped-working
1. Close the project.
2. delete the .sublime-workspace file.
3. Reopen.

[2014-10-26 01:45] johnathanz commented on #62
confirmed works on ST3, build 3065.  Should close this issue...

[2014-10-26 01:46] johnathanz commented on #47
duplicate of https://github.com/robcowie/SublimeTODO/issues/62.

Suggest close issue...

[2014-10-26 01:47] johnathanz commented on #61
works fine in package installer. ST3, build 3065.  Suggest close issue...

[2014-10-26 12:58] robcowie commented on #62
This is no longer the active version of SublimeTODO. See https://github.com/jonathandelgado/SublimeTodoReview

[2014-10-26 12:58] #62 closed, assigned to nobody

[2015-01-27 04:04] surfjedi opened #75 "Not showing up in package control"
Love the plugin but its not showing up in package control?

[2015-01-27 04:30] jonathandelgado commented on #75
are you on ST2? Is it already installed?

[2015-01-27 15:12] jonathanrdelgado commented on #75
This package has been deprecated. Please go to the successor repo, https://github.com/jonathandelgado/SublimeTodoReview

[2015-02-04 23:10] argyleink commented on #57
I struggled with this today as well. Putting the binary_file_patterns in my sublime user preferences works, but if it's in my sublime-project file, it's ignored. Below is what's in my project file, which the same json works in the user settings:

[code]

[2015-02-05 00:19] jonathanrdelgado commented on #57
Just fyi, this project has been deprecated. https://github.com/jonathandelgado/SublimeTodoReview is the successor.

[2015-02-05 00:54] argyleink commented on #57
I see, so a plugin is required. Guess I'll stick my editing my preferences file. Thanks =)

[2015-02-05 01:48] jonathanrdelgado commented on #57
@argyleink I think you misunderstood, this package has been deprecated. You can upgrade to the newer one I mentioned and your problem will be fixed. It's just a fork of this project.

[2015-02-05 01:56] argyleink commented on #57
I did, I also logged an issue on the wrong repo. My comments can be ignored.

[2015-02-26 15:28] thiagodebastos opened #76 "No results given with default regex pattern"
I'm very new with regex and I cannot understand why the default regex pattern isn't working here. Am I making a simple error? I've spent quite some time firguring this out but am really pressed with work at the moment. If this is not a bug, I will go ahead and seek an answer in StackExchange or something. Thanks!

_**Version:** 3071 Dev_
_**Console:** no errors_

---
#### My code:

[code]

None of

[2015-02-26 15:29] GhostLyrics commented on #76
I think it should be

[code]

With a colon.

[2015-02-26 15:30] thiagodebastos commented on #76
... And this is why I should ask first. Thank you so much, just saved me a headache, it's awalys the simplest answer!

[2015-02-26 15:30] #76 closed, assigned to nobody

[2015-04-08 12:26] svenfraeys commented on #60
Also with me, ST3. code need to be python 3 compatible

[2016-01-22 22:58] gpascale commented on #44
Looks like this is a pretty issue, but I just ran into it too. I'll work around by renaming my folders but it's pretty annoying to have to do that. I can't seem exclude the folder "js" without also excluding "src/js". I tried putting "./js" as the exclude pattern but that doesn't do anything.

[2016-01-22 23:45] jonathanrdelgado commented on #44
@gpascale, this plugin has been deprecated for  https://github.com/jonathandelgado/SublimeTodoReview, just fyi.

[2016-01-23 01:00] robcowie commented on #44
Indeed it has. I still get quite a bit of activity on this repo. I'm not sure what the best course of action is; Delete this repo?

[2016-01-23 02:54] jonathanrdelgado commented on #44
@robcowie I believe you can do a redirect, https://github.com/blog/1508-repository-redirects-are-here

I may be completely wrong about the use though. Nice to see you around, by the way. Hope all is well with you.

[2016-01-23 03:47] gpascale commented on #44
Oh whoops, I thought I was commenting on the main SublimeText repo. I now
see that the issue I'm referring
to wasn't even the main issue here but just a comment in the thread.
Disregard :)
On Fri, Jan 22, 2016 at 6:55 PM Jonathan Delgado notifications@github.com
wrote:

[2016-01-25 15:22] robcowie commented on #44
@jonathandelgado I think the opportunity to use a redirect has been missed. I should have transferred ownership of this repo. As it is, there is no implied relationship between this and the new repo and it doesn't seem possible to create arbitrary redirects. Ah well.

All is well thanks; Spending most of my coding time these days with Apache Spark. A blessing and a curse in equal measure!

[2016-06-01 23:16] kokokurak opened #77 "folder_exclude_patterns relative to project root"
I want to exclude `/vendor` folder, relative to the project root. In other words, not `my-project/kitten/vendor`, not `my-project/some/very/deep/folder/vendor`, but just `my-project/vendor`.

By default, if I put this to my .sublime-project file, all vendor folders are excluded:

[code]

I would expect this to work as I need, but unfortunetely not:

[code]

Is there any other way to put pattern re

[2017-11-29 21:03] #72 closed, assigned to nobody